<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Playfair+Display&family=Roboto&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-family: 'Bangers', cursive;">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">Superheroes</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="radar.html">Radar plot</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Comparatioindex.html">Scatter Plot</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://husseinhuesca.github.io/superheoresdb.github.io/index.html">Map</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <div class="jumbo">
      <h1><strong>FIND YOUR HEROES!</strong></h1>
    </div>
    <div class="container">
      <div class="row center">
        <div class="col-md-2">
          <div class="well3">
            <h5>SuperHero ID No:</h5>
            <select id="selDataset" onchange="optionChanged(this.value)"></select>
          </div>
          <button type="button" onclick="createRandomHero()" class="btn-secondary" id="randomHero" style="width: 200px; height: 30px;">Call a Random Hero</button>


          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search ID" aria-label="searchID"
              aria-describedby="button-addon2" id="inputID">
            <button class="btn-secondary" type="button" id="button-addon2" onclick="searchbyID()" style="width: 200px; height: 30px;">Looking for someone?</button>
          </div>

          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">SuperHero Info</h3>
            </div>
            <div id="sample-metadata" class="panel-body"></div>


          </div>
          <div id="hero-image"> </div>
        </div>





      </div>




    </div>

    <div id="footer">
      <p>Super Heroes</p>
    </div>

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <script type="text/javascript" src="static/js/indexapp.js"></script>

</body>

</html>